@import url('https://fonts.googleapis.com/css?family=Abel|Raleway|Roboto&display=swap');
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 6vw;
}

h2 {
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}